.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 5;
}

@media (max-width: 550px) {
    nav.navbar.navbar-light.bg-light {
        position: relative;
    }
    .search-form {
        display: none;
    }
}